Repository VenDream/Gallery-X: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run tslint:server -- --fix, npm run tslint:static -- --fix

chore: fix lintstaged
  package.json
Due: none

chore: adjust docker-compose config
  docker-compose.yaml
Due: none

feat: add rem module & add dev build cache
  static/build/loaders/babel-loader.ts
  static/build/loaders/ts-loader.ts
  static/build/webpack.config.ts
  static/package.json
  static/src/assets/styles/iconfont.css
  static/src/modules/app/app.less
  static/src/modules/prepare/package.json
  static/src/modules/prepare/prepare.ts
  static/src/modules/prepare/rem.ts
  static/tsconfig.json
  static/webpack.config.ts
Due: npm run tslint:static -- --fix

chore: update deps
  package.json
  server/package.json
  static/package.json
Due: none

fix: update total bookmarks when like/unlike an illust
  static/src/reducers/helpers/illust.ts
Due: npm run tslint:static -- --fix

feat: use iScroll on illust-detail-dialog
  static/package.json
  static/src/components/common/image/image.tsx
  static/src/components/illust-detail/artist-info.less
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/detail-info.less
  static/src/components/illust-detail/illust-detail.less
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-detail/image-list.tsx
  static/src/lib.d.ts
  static/src/utils/common.ts
Due: npm run tslint:static -- --fix

feat: show hige resolution images thumbnail on tablet devices
  static/src/components/illust-waterfall/illust-waterfall.tsx
Due: npm run tslint:static -- --fix

feat: add illust comments cmp
  server/src/controller/illust/illust.ts
  server/src/controller/illust/returner.ts
  static/package.json
  static/src/api/illust.ts
  static/src/api/index.ts
  static/src/components/helpers/comment.ts
  static/src/components/illust-detail/artist-info.less
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.less
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.tsx
  tslint.json
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

fix: show comment replies in correct order
  static/src/components/illust-detail/comment-box.tsx
Due: npm run tslint:static -- --fix

feat: add pixiv emoji module
  static/src/components/illust-detail/comment-box.tsx
  static/src/utils/emoji.ts
Due: npm run tslint:static -- --fix

feat(comment): support showing emojis
  server/src/controller/app.ts
  static/index.pug
  static/src/components/helpers/comment.ts
  static/src/components/illust-detail/comment-box.less
  static/src/lib.d.ts
  static/src/utils/emoji.ts
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

feat(comment): add CommentDialog cmp to show full comment list
  static/src/assets/styles/animation.less
  static/src/components/common/comment-dialog/comment-dialog.less
  static/src/components/common/comment-dialog/comment-dialog.tsx
  static/src/components/common/comment-dialog/package.json
  static/src/components/illust-detail/comment-box.less
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-detail/title-bar.less
Due: npm run tslint:static -- --fix

feat: support searching illusts by clicking tags
  static/src/actions/illust.ts
  static/src/assets/styles/scrollbar.less
  static/src/components/illust-detail/detail-info.less
  static/src/components/illust-detail/detail-info.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-waterfall/illust-item.less
  static/src/components/illust-waterfall/illust-waterfall.less
  static/src/components/search-box/search-box.tsx
  static/src/containers/illust-detail/illust-detail.tsx
Due: npm run tslint:static -- --fix

fix: trigger click event on anchor elements
  static/src/components/illust-detail/illust-detail.tsx
Due: npm run tslint:static -- --fix

feat(api): add user profile detail api
  lib.d.ts
  server/src/constants/headers.ts
  server/src/controller/user/user.ts
  server/src/middleare/cache.ts
  server/src/service/user/index.ts
Due: npm run tslint:server -- --fix

feat(api): optimize profile api logic
  server/src/controller/illust/returner.ts
  server/src/controller/user/user.ts
Due: npm run tslint:server -- --fix

feat: add max width for app
  static/src/components/common/comment-dialog/comment-dialog.tsx
  static/src/components/common/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/hoc/popup.less
  static/src/components/hoc/popup.tsx
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-waterfall/illust-item.tsx
  static/src/modules/app/app.less
  static/src/modules/prepare/rem.ts
Due: npm run tslint:static -- --fix

feat: use better-scroll instead of iscroll for a better performance
  static/package.json
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.less
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-detail/image-list.tsx
Due: npm run tslint:static -- --fix

feat(bscroll): optimize configuration
  static/src/components/illust-detail/illust-detail.tsx
Due: npm run tslint:static -- --fix

feat: update some dependencies & replace react-router-redux to connected-react-router
  package.json
  static/package.json
  static/src/actions/router.ts
  static/src/actions/user.ts
  static/src/components/hoc/popup.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/containers/bottom-bar/bottom-bar.tsx
  static/src/modules/app/app.tsx
  static/src/reducers/app.ts
  static/src/store/store.ts
Due: npm run tslint:static -- --fix

chore: update example config
  example_config/server.config.json
Due: none

doc: update README.md
  README.md
Due: none

feat(cmp): put all dialog cmps into one folder
  static/src/api/index.ts
  static/src/api/user.ts
  static/src/components/dialogs/comment-dialog/comment-dialog.less
  static/src/components/dialogs/comment-dialog/comment-dialog.tsx
  static/src/components/dialogs/comment-dialog/package.json
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.less
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/dialogs/illust-detail-dialog/package.json
  static/src/components/dialogs/user-profile-detail-dialog/package.json
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail-dialog.less
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail-dialog.tsx
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/detail-info.tsx
  static/src/components/illust-detail/title-bar.tsx
  static/src/components/illust-waterfall/illust-item.tsx
Due: npm run tslint:static -- --fix

feat(cmp): refactor dialog cmps by extending base-dialog
  static/src/components/dialogs/base-dialog/base-dialog.less
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/dialogs/base-dialog/package.json
  static/src/components/dialogs/comment-dialog/comment-dialog.less
  static/src/components/dialogs/comment-dialog/comment-dialog.tsx
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.less
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail-dialog.tsx
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.less
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.tsx
  static/src/components/page/home/home.tsx
Due: npm run tslint:static -- --fix

feat(cmp): add UserProfileDetail dialog
  server/src/controller/illust/returner.ts
  server/src/middleare/cache.ts
  static/package.json
  static/src/assets/fonts/iconfont.eot
  static/src/assets/fonts/iconfont.ttf
  static/src/assets/fonts/iconfont.woff
  static/src/assets/styles/iconfont.css
  static/src/components/common/image/image.tsx
  static/src/components/dialogs/user-profile-detail-dialog/avatar.less
  static/src/components/dialogs/user-profile-detail-dialog/avatar.tsx
  static/src/components/dialogs/user-profile-detail-dialog/profile.less
  static/src/components/dialogs/user-profile-detail-dialog/profile.tsx
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.less
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.tsx
  static/src/components/dialogs/user-profile-detail-dialog/workspace.less
  static/src/components/dialogs/user-profile-detail-dialog/workspace.tsx
  static/src/components/helpers/comment.ts
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/detail-info.tsx
  static/src/components/illust-detail/title-bar.tsx
  static/src/components/page/home/home.tsx
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

feat: optimize UserProfileDetailDialog loading logic & enhance html string parser
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.less
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.tsx
  static/src/components/helpers/comment.ts
  static/src/components/illust-detail/detail-info.tsx
  static/src/modules/app/app.less
Due: npm run tslint:static -- --fix

feat(controller): add more user related apis
  lib.d.ts
  server/src/controller/illust/illust.ts
  server/src/controller/illust/returner.ts
  server/src/controller/user/user.ts
  server/src/service/user/index.ts
  server/src/utils/illust.ts
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/dialogs/user-profile-detail-dialog/profile.less
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.tsx
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

feat: add IllustWorksDialog to check user illust works
  package.json
  server/package.json
  server/src/controller/user/user.ts
  server/src/middleare/cache.ts
  server/src/service/user/index.ts
  static/src/actions/illust.ts
  static/src/api/index.ts
  static/src/api/user.ts
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/dialogs/comment-dialog/comment-dialog.tsx
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/dialogs/illust-works-dialog/illust-works-dialog.less
  static/src/components/dialogs/illust-works-dialog/illust-works-dialog.tsx
  static/src/components/dialogs/illust-works-dialog/package.json
  static/src/components/dialogs/user-profile-detail-dialog/illust-works.less
  static/src/components/dialogs/user-profile-detail-dialog/illust-works.tsx
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail.tsx
  static/src/components/dialogs/user-profile-detail-dialog/workspace.less
  static/src/components/helpers/common.ts
  static/src/components/hoc/popup.tsx
  static/src/components/illust-detail/artist-info.less
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-detail/title-bar.tsx
  static/src/containers/illust-detail/illust-detail.tsx
  static/src/utils/action.ts
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

style: update some components' style and UX
  static/src/components/dialogs/user-profile-detail-dialog/illust-works.less
  static/src/components/dialogs/user-profile-detail-dialog/illust-works.tsx
  static/src/components/dialogs/user-profile-detail-dialog/profile.less
  static/src/components/helpers/common.ts
  static/src/components/illust-detail/artist-info.less
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/title-bar.tsx
Due: npm run tslint:static -- --fix

feat: add user mangas module
  static/src/components/dialogs/manga-works-dialog/manga-works-dialog.less
  static/src/components/dialogs/manga-works-dialog/manga-works-dialog.tsx
  static/src/components/dialogs/manga-works-dialog/package.json
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail-dialog.tsx
  static/src/components/helpers/common.ts
  static/src/components/user-profile-detail/avatar.less
  static/src/components/user-profile-detail/avatar.tsx
  static/src/components/user-profile-detail/illust-works.less
  static/src/components/user-profile-detail/illust-works.tsx
  static/src/components/user-profile-detail/manga-works.less
  static/src/components/user-profile-detail/manga-works.tsx
  static/src/components/user-profile-detail/package.json
  static/src/components/user-profile-detail/profile.less
  static/src/components/user-profile-detail/profile.tsx
  static/src/components/user-profile-detail/user-profile-detail.less
  static/src/components/user-profile-detail/user-profile-detail.tsx
  static/src/components/user-profile-detail/user-works.less
  static/src/components/user-profile-detail/workspace.less
  static/src/components/user-profile-detail/workspace.tsx
Due: npm run tslint:static -- --fix

feat: optimize dialog cmps rendering logic
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/dialogs/comment-dialog/comment-dialog.tsx
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/dialogs/illust-works-dialog/illust-works-dialog.tsx
  static/src/components/dialogs/user-profile-detail-dialog/user-profile-detail-dialog.tsx
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/user-profile-detail/illust-works.tsx
  static/src/components/user-profile-detail/user-profile-detail.tsx
Due: npm run tslint:static -- --fix

fix: adjust style & fix manga dialog didMount method
  static/src/components/dialogs/manga-works-dialog/manga-works-dialog.tsx
  static/src/components/user-profile-detail/user-profile-detail.less
Due: npm run tslint:static -- --fix

chore: update dependencies
  static/package.json
Due: none

feat: add bookmark illusts module
  server/src/controller/illust/returner.ts
  server/src/controller/user/user.ts
  server/src/service/illust/index.ts
  server/src/service/user/index.ts
  static/src/api/user.ts
  static/src/components/dialogs/bookmark-illusts-dialog/bookmark-illusts-dialog.less
  static/src/components/dialogs/bookmark-illusts-dialog/bookmark-illusts-dialog.tsx
  static/src/components/dialogs/bookmark-illusts-dialog/package.json
  static/src/components/helpers/common.ts
  static/src/components/user-profile-detail/bookmark-illusts.less
  static/src/components/user-profile-detail/bookmark-illusts.tsx
  static/src/components/user-profile-detail/illust-works.tsx
  static/src/components/user-profile-detail/manga-works.less
  static/src/components/user-profile-detail/user-profile-detail.tsx
  static/src/components/user-profile-detail/user-works.less
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

feat: 1.use smaller node image 2.optimize redis module 3.update dependencies
  Dockerfile
  package.json
  server/package.json
  server/src/middleare/cache.ts
  static/package.json
  static/tsconfig.json
Due: npm run tslint:server -- --fix

chore: update dependencies & support global context
  package.json
  server/package.json
  static/build/webpack.config.ts
  static/package.json
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/dialogs/illust-detail-dialog/illust-detail-dialog.tsx
  static/src/components/hoc/popup.tsx
  static/src/containers/app-content/app-content.tsx
  static/src/containers/app/app.tsx
  static/src/containers/bottom-bar/bottom-bar.tsx
  static/src/containers/illust-detail/illust-detail.tsx
  static/src/containers/illust-waterfall/illust-waterfall.tsx
  static/src/containers/layout/layout.tsx
  static/src/containers/login-box/login-box.tsx
  static/src/containers/page/profile/profile.tsx
  static/src/containers/page/search/search.tsx
  static/src/containers/search-box/search-box.tsx
  static/src/modules/app/app.tsx
  static/src/store/store.ts
  static/src/utils/connect.ts
Due: npm run tslint:static -- --fix

chore(build): update dependencies & update webpack and babel configs
  package.json
  server/package.json
  static/babel.config.js
  static/build/webpack.config.ts
  static/package.json
Due: npm run tslint:static -- --fix

chore(build): update start script
  start_service.sh
Due: none

chore(build): update build script
  build_docker_image.sh
Due: none

feat(comment): show author label at comment title
  static/src/actions/illust.ts
  static/src/components/dialogs/comment-dialog/comment-dialog.tsx
  static/src/components/helpers/common.ts
  static/src/components/illust-detail/artist-info.tsx
  static/src/components/illust-detail/comment-box.less
  static/src/components/illust-detail/comment-box.tsx
  static/src/components/illust-detail/detail-info.tsx
  static/src/components/illust-detail/illust-detail.tsx
  static/src/components/illust-detail/title-bar.tsx
  static/src/components/illust-waterfall/illust-item.tsx
  static/src/constants/actions.ts
  static/src/reducers/illust.ts
  static/src/utils/action.ts
Due: npm run tslint:static -- --fix

Path conditions:
  npm run tslint:server -- --fix: any of: server/**/*.ts
  npm run tslint:static -- --fix: any of: static/**/*.{ts,tsx}
