Repository VenDream/Gallery-X: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run tslint:server -- --fix, npm run tslint:static -- --fix

.lintstagedrc:

{
  "linters": {
    "server/**/*.ts": ["npm run tslint:server -- --fix", "git add"],
    "static/**/*.{ts,tsx}": ["npm run tslint:static -- --fix", "git add"]
  },
  "ignore": []
}

feat(comment-box): optimize code with common methods
  static/src/components/illust-detail/comment-box.tsx
Due: npm run tslint:static -- --fix

⬆️ Upgrade dependencies
  package.json
  server/package.json
  static/package.json
Due: none

⬆️ Upgrade dependencies and related logic
  package.json
  server/package.json
  static/babel.config.js
  static/build/loaders/babel-loader.ts
  static/build/loaders/css-loader.ts
  static/build/loaders/file-loader.ts
  static/build/loaders/less-loader.ts
  static/build/loaders/ts-loader.ts
  static/build/webpack.config.ts
  static/package.json
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/modules/app/app.tsx
  static/src/utils/connect.ts
Due: npm run tslint:static -- --fix

✨ Improve autofit strategy & update dependencies
  .browserslistrc
  .editorconfig
  .huskyrc
  build_docker_image.sh
  ecosystem.config.yaml
  package.json
  server/package.json
  server/src/utils/common.ts
  static/babel.config.js
  static/build/loaders/pug-loader.ts
  static/index.pug
  static/package.json
  static/src/assets/styles/iconfont.css
  static/src/components/common/datepicker-dialog/datepicker-dialog.less
  static/src/components/dialogs/base-dialog/base-dialog.tsx
  static/src/components/hoc/popup.less
  static/src/components/hoc/popup.tsx
  static/src/components/illust-detail/artist-info.less
  static/src/components/illust-detail/comment-box.less
  static/src/components/illust-detail/detail-info.less
  static/src/components/illust-detail/title-bar.less
  static/src/components/login-box/login-box.less
  static/src/components/user-profile-detail/profile.less
  static/src/modules/app/app.less
  static/src/modules/prepare/rem.ts
  static/webpack.config.ts
  tslint.json
  upload-to-qiniu.js
  upload_static_files.sh
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

🐛 Fix toper positioning issue & optimize styles
  static/src/components/common/image/image.tsx
  static/src/components/common/toper/toper.tsx
  static/src/components/illust-waterfall/illust-item.less
Due: npm run tslint:static -- --fix

✨ Update dependencies & enable package-lock
  .dockerignore
  .gitignore
  .npmrc
  package-lock.json
  package.json
  server/package-lock.json
  static/package-lock.json
Due: none

🎨 Update pixiv auth logic & upgrade dependencies
  .lintstagedrc
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/constants/headers.ts
  server/src/service/oauth/index.ts
  server/src/utils/common.ts
  static/build/webpack.config.ts
  static/package-lock.json
  static/package.json
  static/src/components/hoc/popup.tsx
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix

⬆️ Upgrade dependencies
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  static/build/webpack.config.ts
  static/package-lock.json
  static/package.json
  static/src/components/illust-waterfall/illust-waterfall.tsx
Due: npm run tslint:static -- --fix

💄 Adjust bottom-bar style
  static/src/components/bottom-bar/bottom-bar.less
Due: none

🔧 Adjust webpack configs
  static/build/webpack.config.ts
  static/package-lock.json
  static/package.json
  static/webpack.config.ts
Due: npm run tslint:static -- --fix

🎨 Adjust pixiv oauth params 'X-Client-Time' format
  server/src/constants/headers.ts
Due: npm run tslint:server -- --fix

⬆️ Upgrade dependencies
  .prettierignore
  ecosystem.config.yaml
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/middleare/cache.ts
  static/package-lock.json
  static/package.json
  static/src/components/hoc/popup.tsx
  static/src/components/illust-detail/comment-box.tsx
Due: npm run tslint:server -- --fix, npm run tslint:static -- --fix
